.form{ 

    padding: 10px;
   
    background-color: transparent;
    border: 0px solid;
    border-bottom: 1px solid black;
    color: #CCC;
    width: 220px;
   margin-left: 20%;
  
  }.buttom{
    background-color:rgb(56, 7, 121);
    padding: 10px;
    margin-left: 20%;
    color: #CCC;
    width:200px;
    margin-bottom: 55px;
    text-transform:5px;
  }
  .countair{
    border: 1px solid rgb(221, 50, 50);
    margin-left: 900px;
    margin-right:55px;
    margin-top: 55px;
 
  }